[*.cs]

# IDE0008: Use explicit type
csharp_style_var_when_type_is_apparent = true

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none

# IDE0002: Simplify Member Access
dotnet_diagnostic.IDE0002.severity = silent
